Kapittel 1

Kapittel 2

In [46]:
import json
import pandas as pd
import requests
# pyjstat er biblioteket for å lese JSON-stat, 'pip install pyjstat' 
from pyjstat import pyjstat

In [47]:
postUrl = "https://data.ssb.no/api/v0/no/table/10638/"

In [48]:
apiQuery = {
  "query": [
    {
      "code": "KonsumInnd",
      "selection": {
        "filter": "item",
        "values": [
          "TOTK",
          "UTLK",
          "NOHT",
          "NONF"
        ]
      }
    },
    {
      "code": "Reiseliv",
      "selection": {
        "filter": "item",
        "values": [
          "0",
          "01",
          "01.01",
          "01.02",
          "01.03",
          "01.04",
          "01.05",
          "01.06",
          "01.07",
          "01.08",
          "01.09",
          "01.10",
          "02"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [49]:
# Funksjon for å konvertere uttrekket til 2 dataframes, tar 2 paramtre

def apiToDataframe(postUrl, query):

    # postUrl som spørringen skal postes mot
    # Spørringen og endepunktet til API-et kan hentes fra Statistikkbanken.

    res = requests.post(postUrl, json=query)
    # legger resultat i ds. DS har i tillegg en del metadata
    ds = pyjstat.Dataset.read(res.text)
    # skriver resultatet til to dataframes
    # først dataframe med tekst
    df = ds.write('dataframe')
    # deretter dataframe med koder
    df_id = ds.write('dataframe', naming='id')
    # returnerer også ds i tilfelle en trenger metadata
    return df, df_id, ds

In [50]:
df, df_id, ds = apiToDataframe(postUrl, apiQuery)

In [51]:
df

,konsumentgruppe,reiselivsnæring,statistikkvariabel,år,value
0,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2007,115544.0
1,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2008,121579.0
2,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2009,119639.0
3,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2010,124390.0
4,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2011,128526.0
...,...,...,...,...,...
1555,Norske næringers utgifter til forretningsreise...,Turistkonsum utenom reiselivsprodukter,Faste 2020-priser (mill. kr),2017,0.0
1556,Norske næringers utgifter til forretningsreise...,Turistkonsum utenom reiselivsprodukter,Faste 2020-priser (mill. kr),2018,0.0
1557,Norske næringers utgifter til forretningsreise...,Turistkonsum utenom reiselivsprodukter,Faste 2020-priser (mill. kr),2019,0.0
1558,Norske næringers utgifter til forretningsreise...,Turistkonsum utenom reiselivsprodukter,Faste 2020-priser (mill. kr),2020,0.0
1559,Norske næringers utgifter til forretningsreise...,Turistkonsum utenom reiselivsprodukter,Faste 2020-priser (mill. kr),2021,NaN

In [52]:
#filterer ut Totalt konsum fra konsumentgruppe
df = df[df['konsumentgruppe'] == 'Totalt konsum'] 
df = df[df['reiselivsnæring'] == 'Turistkonsum i alt']
df = df[df['år'] != '2021']
df

,konsumentgruppe,reiselivsnæring,statistikkvariabel,år,value
0,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2007,115544.0
1,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2008,121579.0
2,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2009,119639.0
3,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2010,124390.0
4,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2011,128526.0
5,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2012,136882.0
6,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2013,145156.0
7,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2014,151416.0
8,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2015,158669.0
9,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2016,170002.0
10,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2017,176306.0
11,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2018,186288.0
12,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2019,194330.0
13,Totalt konsum,Turistkonsum i alt,Løpende priser (mill. kr),2020,129750.0
15,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2007,155191.0
16,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2008,155837.0
17,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2009,149560.0
18,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2010,153775.0
19,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2011,158573.0
20,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2012,166003.0
21,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2013,171815.0
22,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2014,175399.0
23,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2015,179150.0
24,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2016,185067.0
25,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2017,189188.0
26,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2018,196436.0
27,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2019,198007.0
28,Totalt konsum,Turistkonsum i alt,Faste 2020-priser (mill. kr),2020,129750.0